body
{
	margin: 0px;
	width: 500px;
	overflow-x: hidden;
	font-family: 'Source Sans Pro', sans-serif;
}

.container {
	padding: 15px;
}

.tab-content {
	border: 1px solid #dee2e6;
	border-top: none;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.nav-link {
	font-size: 16px;
	text-transform: uppercase;
}

.card-body {
	display: flex;
	flex-wrap: wrap;
	padding: 5px;
}

.card-header {
	padding: .5rem;
}

.tab-header {
	display: flex;
	justify-content: space-between;
}

.tab-item {
	border: 1px solid #dee2e6;
	border-radius: 5px;
	background: #f3f3f3;
	width: 142px;
	height: 84px;
	margin: 5px;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.theme-switch-container {
	position: absolute;
	right: 24px;
	top: 24px;
}

#tab_name_text
{
	margin-top: 8px;
	width: 80%;
	max-height: 22px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

img
{
	width: 80%;
	border-radius: 50%;
}

.circle
{
	border-radius: 50%;
	background: #fff;
    width: 48px;
	height: 48px;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* Switch Styling */
.switch
{
	float: right;
	margin: 0px 0px 0px 11px;
	position: relative;
	display: inline-block;
	width: 30px;
	height: 17px;
}

.switch input
{
	opacity: 0;
	width: 0;
	height: 0;
}

.slider
{
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before
{
	position: absolute;
	content: "";
	height: 13px;
	width: 13px;
	left: 2px;
	bottom: 2px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked + .slider
{
	background-color: #000;
}

input:focus + .slider
{
	box-shadow: 0 0 1px #000;
}

input:checked + .slider:before
{
	-webkit-transform: translateX(13px);
	-ms-transform: translateX(13px);
	transform: translateX(13px);
}

  /* Rounded sliders */
.slider.round
{
	border-radius: 17px;
}

.slider.round:before
{
	border-radius: 50%;
}
