body 
{
	margin: 0px;
	min-width: 700px;
	overflow-x: hidden;
	font: 12px 'Noto Sans' ,'lucida grande', helvetica, arial, sans-serif;
}

#item 
{
	clear: both;
	cursor: pointer;
	background-color:#424242;
	padding-top: 3px;
	padding-bottom: 3px;
}

.item
{
	width: 33%;
	flex: 1;
	display: flex;
	flex-flow: column;
}

#text 
{
	max-width: 100%;
	max-height: 15px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

img 
{
	display: inline-block;
	width: 30px;
	height: 30px;
	margin-top: 7px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.circle
{
	border-radius: 50%;
	background: #fff;
    width: 45px;
    height: 45px; 
}

/* Switch Styling */
.switch 
{ 
	float: right;
	margin: 0px 0px 0px 11px;
	position: relative;
	display: inline-block;
	width: 30px;
	height: 17px;
}
  
.switch input 
{
	opacity: 0;
	width: 0;
	height: 0;
}
  
.slider 
{
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}
  
.slider:before 
{
	position: absolute;
	content: "";
	height: 13px;
	width: 13px;
	left: 2px;
	bottom: 2px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}
  
input:checked + .slider 
{
	background-color: #000;
}
  
input:focus + .slider 
{
	box-shadow: 0 0 1px #000;
}
  
input:checked + .slider:before 
{
	-webkit-transform: translateX(13px);
	-ms-transform: translateX(13px);
	transform: translateX(13px);
}
  
  /* Rounded sliders */
.slider.round 
{
	border-radius: 17px;
}
  
.slider.round:before 
{
	border-radius: 50%;
}
